html {
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.btn {
  text-decoration: none;
  padding: .4em .75em .3em;
  font-size: 1.125rem;
  color: #fff;
  display: inline-block;
  border-radius: 8px;
  border: 3px solid transparent;
}

.btn-primary {
  background-color: #333;
}

.btn-big {
  font-size: 1.5rem;
}

p {
  font-family: Roboto, sans-serif;
  font-size: 1.5rem;
  margin: .75rem 0;
}

h2 {
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.25;
  margin: 0;
}

.content {
  max-width: 45em;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  display: flex;
  top: 50%;
  align-items: stretch;
  justify-content: space-between;
  padding: 0 1rem;
}

.banner {
  max-height: 500px;
  overflow: hidden;
  position: relative;
}

body {
  margin: 0;
}

.img-flex {
  width: 100%;
  display: block;
}

.btn:hover {
  background-color: #000;
}

.img {
  width: 33%;
}

.text {
  width: 60%;
}
